
@font-face {/* general font */
    font-family: 'Purista';
    src: url('../fonts/PuristaMedium.eot');
    src: url('../fonts/PuristaMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PuristaMedium.woff') format('woff'),
         url('../fonts/PuristaMedium.ttf') format('truetype'),
         url('../fonts/PuristaMedium.svg#puristaregular') format('svg'),
         local('../fonts/PuristaMedium.woff');
    font-weight: 400;
    font-style: normal;

}

@font-face { /* default to this font if error on above font load */
	font-family: 'Open Sans';
	font-style: light;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body{
background:#cfcfcf;
font-family: 'Purista', 'Open Sans', sans-serif;
		
}

.widgetWrapper{
	background: #f5f5f5;
	border:1px soid #afafaf;
	width: 100%;
	max-width: 350px;
	min-width: 200px;
	color: #333333;
}

.widgetHeader{
	background: #595959;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	color: #ffffff;
}

.widgetContent{
	text-align: center;
	padding: 15px;	
	border-bottom:1px solid #cfcfcf;
}

.widgetContent .title{
	margin-bottom: 7px;
}

.widgetContent .radioWrapper{
	text-align: left;
	width: 50%;
	min-width: 150px;
}


.headerTitle{
	font-size: 130%;
}

.niceInput{
width: 80%;	
font-size:110%;
padding:7px;
}

.helperText{
font-size: 80%;
color:#cfcfcf;	
padding: 7px;
}
	
.blocky{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}

.result{
	color: #ffffff;
	background: #595959;
}

.ridesLogo{
	height: 32px;
}

.shorterInput{
	width: 40%;
}

.centeredInput{
	text-align: center;
}

